:root {
  --primary-color: #f5ebe0;
  --secondary-color: #a06cd5;
}

body {
  height: 100vh;
  background: var(--primary-color);
}

footer {
  margin-top: 60px;
}

.border-radius {
  border-radius: 10px;
}

.contact-icon i {
  font-size: 4em;
}
a {
  text-decoration: none;
}
.contact-me-heading {
  font-size: 4em;
}
.avatar-img {
  border-radius: 50%;
  width: 300px;
}
.projects-heading {
  font-size: 4em;
  padding-bottom: 1em;
}
.project-description h3 {
  font-size: 2.5em;
}
.project-row {
  display: flex;
  justify-content: center;
}
.project-image {
  transition: all 0.3s ease-in-out;
}
.project-image:hover {
  scale: 1.07;
}
.name {
  font-size: 3.6em;
}

/* buttons */
.button {
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
  text-decoration: none;
  background: #333;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid #333;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  border-color: #333;
  background: transparent;
  color: #333;
}

.button a {
  color: var(--primary-color);
}
.button a:hover {
  color: #333;
}
