:root {
  --primary-color: #f5ebe0;
  --secondary-color: #a06cd5;
}

@media screen and (max-width: 767px) {
  .index-intro {
    text-align: center;
  }

  .index-avatar-div,
  .about-avatar-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .index-nav-buttons button {
    display: none;
  }
  .index-footer {
    margin-top: 0;
  }
  .name {
    font-size: 2.3rem;
  }
  .contact-me-heading {
    font-size: 2.5rem;
  }
  .about-paragraph {
    width: 90vw;
  }
}

@media screen and (min-width: 767px) {
  .index-navbar {
    display: none;
  }
  .name {
    font-size: 3.6rem;
  }
  .contact-me-heading {
    font-size: 4rem;
  }
}

@media screen and (max-width: 992px) {
  .project-description {
    width: 90vw;
  }
  .project-image {
    margin-bottom: 20px;
  }
  .project-image-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

body {
  height: 100vh;
  background: var(--primary-color);
}

footer {
  margin-top: 60px;
}

.index-intro h2 {
  margin: 0;
}

.border-radius {
  border-radius: 10px;
}

.contact-icon i {
  font-size: 4em;
}
a {
  text-decoration: none;
}

.avatar-img {
  border-radius: 50%;
  width: 300px;
}
.projects-heading {
  font-size: 4em;
  padding-bottom: 1em;
}
.project-description h3 {
  font-size: 2.5em;
}
.project-row {
  display: flex;
  justify-content: center;
}
.project-image {
  transition: all 0.3s ease-in-out;
}
.project-image:hover {
  scale: 1.07;
}

.nav-bg {
  background-color: #e0cec1;
}

.active-link {
  font-weight: bold;
}

/* buttons */
.button {
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
  text-decoration: none;
  background: #333;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid #333;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  border-color: #333;
  background: transparent;
  color: #333;
}

.button a {
  color: var(--primary-color);
}
.button a:hover {
  color: #333;
}
